<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HowardAI - Chat with Howard Roark</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
</head>
<body>

<h1>This is the index page</h1>
<a>Simple page for now, you can enter chat page</a>
<br>
<button onclick="window.location.href='/chat'">Chat</button>

</body>
</html>